@import url('./poppins.css');


body {
    header::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: black;
        opacity: 0.6;
    }
    header {
        position: relative;   
        background-image: url(../assets/nav-back.png);
        background-size: cover;
        nav {
            position: relative;
            padding: 32px 0 0 0;
            .container {
                display: flex;
                justify-content: space-between;
                .logo {
                    text-decoration: none;
                    font: bold normal Poppins 14px;
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: bold;
                    color: white;
                    text-align: left;
                }
                ul {
                    display: flex;
                    gap: 62px;
                    li {
                        a {
                            text-decoration: none;
                            color: white;
                            font-family: Poppins;
                            font-size: 12px;
                            font-weight: normal;
                            text-align: center;
                            
                        }
                        .active {
                            color: #5863F8;
                        }
                    }
                }
            }
        }
        .sub-nav {
            position: relative;
            padding: 103px 0 86px 0;
            .container {
                h1 {
                    font-family: "Poppins";
                    font-size: 42px;
                    font-weight: normal;
                    text-align: left;
                    color: #ffffff;
                    display: inline-block;
                }
                ul {
                    margin-top: 21px;
                
                    display: flex;
                    li {
                        a {
                            font-family: Poppins;
                            text-decoration: none;
                            color: white;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: left;
                        }
                    }
                    li:nth-child(1){
                        padding-right: 17px;
                        border-right: 1px solid whitesmoke;
                    }
                    li:nth-child(2){
                        padding-left: 17px;
                    }
                }
            }
        }
    }
    section {
        margin-top: 92px;
        .container {
            .sub-header {
                display: inline-block;
                font-family: Poppins;
                font-size: 14px;
                font-weight: bold;
                color: #5863f8;
            }
            .section-header {
                font-family: "Poppins";
                font-size: 42px;
                font-weight: normal;
                line-height: 56px;
                width: 15ch;
            }
            .cards {
                margin-top: 55px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .card{
                    display: flex;
                    width: 49%;
                    margin-bottom: 16px;
                    img {

                    }
                    .card-body {
                        background-color: #F8F8F8;
                        padding: 39px 0 0 16px;
                        .card-sub-header {
                            font-family: "Poppins";
                            font-size: 14px;
                            font-weight: bold;
                            color: #5863f8;
                            padding-bottom: 4px;
                        }
                        .card-header {
                            font-family: "Poppins";
                            font-size: 18px;
                            font-weight: normal;
                            padding-bottom: 11px;
                        }
                        .card-content {
                            font-family: "Poppins";
                            font-size: 14px;
                            font-weight: 500;
                            color: #b1b1b1;
                            width: 84%;
                        }
                    }
                    .btn {
                        border: 0;
                        background-color: #5863F8;
                        padding: 0 23px;
                    }
                }
            }
        }   
    }  
    .reservation {
        margin-top: 55px;
        background-color: #F8F8F8;
        form {
            padding: 55px 0;
            display: flex;
            gap: 16px;
            .form-row {
                align-self: flex-end;
                label {
                    font-family: "Poppins";
                    font-size: 13px;
                    font-weight: 500;
                    color: #5863f8;
                    display: inline-block;
                    margin-bottom: 6px;
                }
                input {
                    display: block;
                    width: 260px;
                    max-width: 260px;
                    border: 2px solid #EBEBEB;
                    font-family: Poppins;
                    font-size: 13px;
                    color: #CECECE;
                    padding: 23px 0 21px 20px;
                }
                input[type="number"]{
                    padding: 24px 0 22px 20px;
                }
            }
            button {
                height: fit-content;
                align-self: flex-end;
                border: 0;
                background-color: #5863F8;
                color: white;
                padding: 24.5px 91px;
                font-family: "Poppins";
                font-size: 13px;
                .fa {
                    padding-left: 10px;
                }
            }
        }
    }
    footer {
        background-color: #121212;
        padding-top: 93px;
        .container {
            .footer-main {
                display: flex;
                justify-content: space-between;
                
                .desc {
                    h3 {
                        font-family: "Poppins";
                        font-size: 24px;
                        font-weight: bold;
                        color: #ffffff;
                        padding-bottom: 23px;
                    }
                    p {
                        font-family: "Poppins";
                        font-size: 14px;
                        font-weight: 500;
                        color: #b1b1b1;
                        padding-bottom: 20px;
                        width: 30ch;
                        max-width: 100%;
                    }
                    .logos {
                        display: flex;
                        gap: 10px;
                        .logo-wrapper {
                            width: 35px;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #3B5998;
                        }
                        .logo-wrapper:nth-child(2) {
                            background-color: #55ACEE;
                        }
                        .logo-wrapper:nth-child(3) {
                            background-color: #DC4E41;
                        }
                    }
                }
                .links-contact {
                    display: flex;
                    
                    nav {
                        h4 {
                            font-family: "Poppins";
                            font-size: 18px;
                            color: #ffffff;
                            padding-bottom: 23px;
                        }
                        ul {
                            li {
                                padding-bottom: 13px;
                                width: fit-content;
                                a {
                                    font-family: "Poppins";
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #5863f8;
                                    text-decoration: none;
                                    width: fit-content;
                                }
                            }
                        }
                    }
                    .useful {
                        margin-right: 90px;
                    }
                    .privacy {
                        margin-right: 113px;
                    }
                    .contact {
                        margin-right: 78px;
                        a {
                            color: white;
                        }
                    }
                }
            }
            .footer-foot {
                margin-top: 56px;
                padding-bottom: 41px;
                display: flex;
                justify-content: space-between;
                .cr {
                    font-family: "Poppins";
                    font-size: 14px;
                    font-weight: 500;
                    color: white;
                    span {
                        color: #5863f8;
                    }
                }
                a {
                    font-family: "Poppins";
                    font-size: 14px;
                    font-weight: 500;
                    color: #5863f8;
                    text-decoration: none;
                }
            }
        }
    }
}

.container {
    width: 100%;
    margin: auto;
}
.no-placeholder::-webkit-calendar-picker-indicator {
    display: none;
}

/* For Firefox */
.no-placeholder::-moz-calendar-picker-indicator {
    display: none;
}

/* For Edge */
.no-placeholder::-ms-clear {
    display: none;
}



@media (min-width: 768px) {
.container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1088px;
    }
  }