@import url("./poppins.css");
body header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
body header {
  position: relative;
  background-image: url(../assets/nav-back.png);
  background-size: cover;
}
body header nav {
  position: relative;
  padding: 32px 0 0 0;
}
body header nav .container {
  display: flex;
  justify-content: space-between;
}
body header nav .container .logo {
  text-decoration: none;
  font: bold normal Poppins 14px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: left;
}
body header nav .container ul {
  display: flex;
  gap: 62px;
}
body header nav .container ul li a {
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
body header nav .container ul li .active {
  color: #5863F8;
}
body header .sub-nav {
  position: relative;
  padding: 103px 0 86px 0;
}
body header .sub-nav .container h1 {
  font-family: "Poppins";
  font-size: 42px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
  display: inline-block;
}
body header .sub-nav .container ul {
  margin-top: 21px;
  display: flex;
}
body header .sub-nav .container ul li a {
  font-family: Poppins;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
body header .sub-nav .container ul li:nth-child(1) {
  padding-right: 17px;
  border-right: 1px solid whitesmoke;
}
body header .sub-nav .container ul li:nth-child(2) {
  padding-left: 17px;
}
body section {
  margin-top: 92px;
}
body section .container .sub-header {
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  color: #5863f8;
}
body section .container .section-header {
  font-family: "Poppins";
  font-size: 42px;
  font-weight: normal;
  line-height: 56px;
  width: 15ch;
}
body section .container .cards {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body section .container .cards .card {
  display: flex;
  width: 49%;
  margin-bottom: 16px;
}
body section .container .cards .card .card-body {
  background-color: #F8F8F8;
  padding: 39px 0 0 16px;
}
body section .container .cards .card .card-body .card-sub-header {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: bold;
  color: #5863f8;
  padding-bottom: 4px;
}
body section .container .cards .card .card-body .card-header {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 11px;
}
body section .container .cards .card .card-body .card-content {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #b1b1b1;
  width: 84%;
}
body section .container .cards .card .btn {
  border: 0;
  background-color: #5863F8;
  padding: 0 23px;
}
body .reservation {
  margin-top: 55px;
  background-color: #F8F8F8;
}
body .reservation form {
  padding: 55px 0;
  display: flex;
  gap: 16px;
}
body .reservation form .form-row {
  align-self: flex-end;
}
body .reservation form .form-row label {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 500;
  color: #5863f8;
  display: inline-block;
  margin-bottom: 6px;
}
body .reservation form .form-row input {
  display: block;
  width: 260px;
  max-width: 260px;
  border: 2px solid #EBEBEB;
  font-family: Poppins;
  font-size: 13px;
  color: #CECECE;
  padding: 23px 0 21px 20px;
}
body .reservation form .form-row input[type=number] {
  padding: 24px 0 22px 20px;
}
body .reservation form button {
  height: fit-content;
  align-self: flex-end;
  border: 0;
  background-color: #5863F8;
  color: white;
  padding: 24.5px 91px;
  font-family: "Poppins";
  font-size: 13px;
}
body .reservation form button .fa {
  padding-left: 10px;
}
body footer {
  background-color: #121212;
  padding-top: 93px;
}
body footer .container .footer-main {
  display: flex;
  justify-content: space-between;
}
body footer .container .footer-main .desc h3 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 23px;
}
body footer .container .footer-main .desc p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #b1b1b1;
  padding-bottom: 20px;
  width: 30ch;
  max-width: 100%;
}
body footer .container .footer-main .desc .logos {
  display: flex;
  gap: 10px;
}
body footer .container .footer-main .desc .logos .logo-wrapper {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3B5998;
}
body footer .container .footer-main .desc .logos .logo-wrapper:nth-child(2) {
  background-color: #55ACEE;
}
body footer .container .footer-main .desc .logos .logo-wrapper:nth-child(3) {
  background-color: #DC4E41;
}
body footer .container .footer-main .links-contact {
  display: flex;
}
body footer .container .footer-main .links-contact nav h4 {
  font-family: "Poppins";
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 23px;
}
body footer .container .footer-main .links-contact nav ul li {
  padding-bottom: 13px;
  width: fit-content;
}
body footer .container .footer-main .links-contact nav ul li a {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #5863f8;
  text-decoration: none;
  width: fit-content;
}
body footer .container .footer-main .links-contact .useful {
  margin-right: 90px;
}
body footer .container .footer-main .links-contact .privacy {
  margin-right: 113px;
}
body footer .container .footer-main .links-contact .contact {
  margin-right: 78px;
}
body footer .container .footer-main .links-contact .contact a {
  color: white;
}
body footer .container .footer-foot {
  margin-top: 56px;
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
}
body footer .container .footer-foot .cr {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: white;
}
body footer .container .footer-foot .cr span {
  color: #5863f8;
}
body footer .container .footer-foot a {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: #5863f8;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
}

.no-placeholder::-webkit-calendar-picker-indicator {
  display: none;
}

/* For Firefox */
.no-placeholder::-moz-calendar-picker-indicator {
  display: none;
}

/* For Edge */
.no-placeholder::-ms-clear {
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1088px;
  }
}

/*# sourceMappingURL=main.css.map */
